/* ---------- ALL ---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 1.7rem;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

/* body::-webkit-scrollbar {
    display: none;
} */

section {
    padding-bottom: 20px;
}

section > div {
    padding: 10px 30px;
}

h1 {
    font-size: 62px;
    font-weight: heavy;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: lighter;
}

h4 {
    color: #e10600;
    margin: 0;
    font-size: 1.1rem;
}

hr {
    border: none;
    height: 10px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

a {
    text-decoration: none;
}

.bkg-red {
    background-color: #e10600;
}

.bkg-gray {
    background-color: #38383f;
}

.bkg-black {
    background-color: #15151E;
}

.bkg-white {
    background-color: white;
}

.font-white {
    color: white;
}

.bkg-grid-white {
    background-image: url(assets/plus-white-x2.webp);
    background-repeat: repeat;
    background-size: 8px;
    border-radius: 10px;
    text-align: center;
}

.bkg-grid {
    background-image: url(assets/plus-x2.webp);
    background-repeat: repeat;
    background-size: 8px;
    border-radius: 10px;
    text-align: center;
}

/* ---------- Navigation ---------- */

.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    color: white;
}

.nav-bar .logo img {
    height: auto;
    width: 130px;
    margin: 19px 30px 12px;
}

.nav-bar .left-links a {
    text-decoration: none;
    color: white;
    padding: 26px 16px;
}

.nav-bar .left-links a:hover,
.nav-bar .right-links a:hover {
    background-color: #15151E;
    cursor: pointer;
}

.nav-bar .left-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar .right-links a {
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 26px;
    margin-left: 191.65px;
}

.left-links a.active {
    text-decoration: underline;
}

/* ---------- Footer ---------- */

.footer {
    color: #d0d0d2;
    padding: 2px 20px 20px;
    justify-content: space-between;
}

.footer img {
    width: 84px;
}

.footer p {
    font-size: 1.2rem;
}

/* ---------- Latest ---------- */

.latest h2 {
    margin: 20px 0;
}

.latest h4 {
    margin: 0px 0px 5px;
}

.news-content-text p,
.technical-content-text p {
    margin: 0;
    font-size: 1.6rem;
}

/* .technical .grid:last-child,
.more-news .grid:last-child,
.explore .grid:last-child {
    margin-right: 100%;
} */

.top-stories .grid:last-child {
    padding-right: 100%;
}

/* News */

.top-stories .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.top-stories > div {
    border-top: 10px solid #e10600;
    border-right: 10px solid #e10600;
    border-bottom: 10px solid #e10600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px 20px 20px 0;
}

.news img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.news .flex {
    gap: 20px;
}

.news-content-text {
    margin-top: 15px;
    padding: 0px 20px 40px;
    color: #15151E;
    border-right: 1px solid #d0d0d2;
    border-bottom: 1px solid #d0d0d2;
    border-radius: 0px 0px 15px 0px;
    overflow: hidden;
}

.more-news .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.more-news .ad {
    aspect-ratio: unset;
}

/* Technical */

.technical img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.technical-content-text {
    margin-top: 15px;
    padding: 0px 20px 40px;
    color: white;
    border-right: 1px solid #38383f;
    border-bottom: 1px solid #38383f;
    border-radius: 0px 0px 15px 0px;
    overflow: hidden;
}

.technical-content.feature p {
    font-size: 1.8rem;
}

.technical .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* Explore */

.explore img{
    filter: brightness(50%);
}

.explore .container {
    position: relative;
    color: white;
}

.explore .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2.5rem;
}

.explore .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.explore a {
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

/* ---------- Schedule ---------- */

.schedule h4 {
    margin: 0 0 5px;
    font-size: 1.5rem;
}

.schedule .past-races img {
    border-radius: 5px;
}

.schedule hr {
    margin: 10px 0px;
    height: 1px;
}

.schedule .races > div > div,
.upcoming-race > div > div > div {
    justify-content: space-between;
}

.schedule .grid {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.schedule .races > div {
    border-top: 2px solid #15151E;
    border-right: 2px solid #15151E;
    border-top-right-radius: 10px;
    margin-top: 20px;
    padding: 10px 10px 0px 0px;
}

.schedule .races > div:hover {
    border-top: 2px solid #e10600;
    border-right: 2px solid #e10600;
    cursor: pointer;
}

.schedule .flag {
    border: 1px solid #38383f;
    border-radius: 5px;
    height: fit-content;
}

.past-races > div:nth-child(1),
.upcoming-race > div {
    border-top-right-radius: 25px;
    margin-top: 20px;
    padding: 20px 20px 0 0;
}

/* Past Races */

.past-races > div:nth-child(1) {
    border-top: 10px solid #15151E;
    border-right: 10px solid #15151E;
    justify-content: space-between;
}

.past-races > .flex > div:nth-child(2) > div {
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 20px;
    width: fit-content;
    cursor: pointer;
}

.past-races > .flex > div:nth-child(2) > div:nth-child(1) {
    background-color: #e10600;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.past-races > .flex > div:nth-child(2) > div:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Upcoming Race */

.upcoming-race > div {
    border-top: 10px solid #e10600;
    border-right: 10px solid #e10600;
}

.upcoming-race {
    color: white;
}

.upcoming-race .flex:nth-child(1){
    gap: 20px;
}

.upcoming-race h1 {
    font-size: 4.2rem;
    margin-bottom: 5px;
}

.upcoming-race .flex {
    justify-content: space-between;
}

.upcoming-race .bkg-image {
    gap: 40px;
    width: 100%;
    background-image: url(assets/schedule_azerbaijan.webp);
    background-position: 50% 75%;
    background-size: cover;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
}

.upcoming-race .schedule-bubble {
    margin-right: 20px;
    height: fit-content;
    padding: 0 15px;
    border-radius: 10px;
}

.upcoming-race .schedule-bubble .col-2 {
    color: #949498;
}

.upcoming-race .schedule-bubble .col-3 {
    text-align: center;
}

/* --------- Results --------- */

.results table,
.results h2,
.results button {
    margin-top: 20px;
}

.results button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.results table {
    border-collapse: collapse;
    min-width: 100%;
}

.results th {
    color: gray;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}

.results td {
    font-size: 1.3rem;
    font-weight: 700;
    color: #4a4a4a;
}

.results td, th {
    padding: 18px 20px 14px;
}

.results tbody tr:nth-child(odd) {
    background-color: #ededed;
}

.results table:has(#myTable) tr th {
    cursor: pointer;
}

.results .race-table {
    border-top: 10px solid #e10600;
    border-right: 10px solid #e10600;
    border-top-right-radius: 25px;
    padding: 0 20px 0 0;
    margin-top: 20px;
}

.results .driver-button,
.results .team-button {
    background-color: #ededed;
}

.results .tab-content {
    border-top: 10px solid #15151E;
    border-right: 10px solid #15151E;
    border-bottom: 10px solid #15151E;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0 20px 20px 0;
    margin-top: 20px;
}

/* --------- Teams --------- */

.teams section > div:nth-child(1) h1 {
    border-top: 10px solid #15151E;
    border-right: 10px solid #15151E;
    border-top-right-radius: 25px;
    margin-top: 20px;
    padding-top: 20px;
}

.teams .teams-grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.teams .team {
    border-top: 2px solid #15151E;
    border-right: 2px solid #15151E;
    border-top-right-radius: 10px;
    padding: 10px 10px 0px 0px;
    cursor: pointer;
}

.teams .team > div:nth-child(1),
.teams .teams-grid .name {
    justify-content: space-between;
    border-bottom: 1px solid #38383f;
    margin-bottom: 10px;
}

.teams .team > div:nth-child(1) {
    text-align: right;
    align-items: center;
}

.teams .teams-grid .name {
    align-items: center;
    padding-bottom: 10px;
}

.teams .teams-grid .drivers {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.teams .team .driver {
    border-bottom: 1px solid #38383f;
    border-right: 1px solid #38383f;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
    margin-bottom: 10px;
}

/* --------- Responsive --------- */

@media only screen and (min-width: 1360px) { /** width >= 1360px **/
    .content {
        width: 1360px;
        margin: 0 auto;
    }

    .news-content,
    .technical-content {
        width: 310px;
    }

    .technical-content.feature,
    .technical-content.feature img {
        width: 620px;
    }

    .news img {
        width: 310px;
    }
}

@media only screen and (max-width: 1360px) and (min-width: 1055px) { /** 1055px <= width <= 1360px **/
    .schedule .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .more-news .grid,
    .explore .grid {
        grid-template-columns: 1fr 1fr;
    }

    .latest .content {
        width: 1060px;
        margin: 0 auto;
    }

    .top-stories .news-content,
    .top-stories .news-content img,
    .technical-content,
    .technical-content img,
    .technical video {
        width: 210px;
    }

    .top-stories video {
        width: 520px;
    }

    .more-news .news-content img,
    .explore img {
        width: 490px;
    }

    .more-news .ad {
        width: 330px;
    }

    .technical-content.feature img,
    .technical-content.feature {
        width: 540px;
    }
}


@media only screen and (max-width: 1054px) and (min-width: 711px) { /** width <= 1054px **/
    .top-stories .grid,
    .technical .grid,
    .schedule .grid,
    .more-news .grid,
    .explore .grid {
        grid-template-columns: 1fr 1fr;
    }

    .top-stories .grid-col-span-2,
    .technical .grid-col-span-2 {
        grid-column: span 2;
    }

    .latest .content {
        width: 710px;
        margin: 0 auto;
    }

    .top-stories video {
        width: 640px;
    }

    .technical-content.feature,
    .technical-content.feature img {
        width: 650px;
    }

    .more-news .news-content img {
        width: 315px;
    }

    .news img {
        width: 310px;
    }
}

@media only screen and (max-width: 930px) { /** width <= 930px **/
    .past-races > div:nth-child(1) {
        flex-direction: column;
        gap: 20px;
    }
}

@media only screen and (max-width: 710px) { /** width <= 710px **/
    .top-stories .grid,
    .technical .grid,
    .schedule .grid,
    .more-news .grid,
    .explore .grid {
        grid-template-columns: 1fr;
    }

    .top-stories video {
        max-width: 360px;
    }
    
    .hide-for-mobile {
        display: none;
    }
    
    .latest .content {
        max-width: 435px;
        margin: 0 auto;
    }

    .technical-content.feature img,
    .explore img {
        max-width: 374px;
    }
}

@media only screen and (max-width: 431px) { /** width <= 710px **/
    .latest .content {
        max-width: 375px;
        margin: 0 auto;
    }

    .top-stories video {
        max-width: 300px;
    }   

    .technical-content.feature img,
    .explore img {
        max-width: 315px;
    }
}